<div class="container">
  <h1>Public Recipes</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Total Food Items</th>
        <th>Total Price</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @public_recipes.each do |recipe| %>
        <tr>
          <td><%= recipe.name %></td>
          <td><%= recipe.foods.sum(:quantity) %></td>
          <td><%= number_to_currency(recipe.foods.sum(:price)) %></td>
          <td><%= recipe.user.name %></td>
          <td><%= link_to 'Show', recipe %></td>
        </tr>
      <% end %>
    </tbody>
  </table>